@tailwind base;
@tailwind components;
@tailwind utilities;

    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        /* background: inherit; */
        background-color: white;
      }

      .caro{
        height: 800px;
      }

      @media (min-width:768px) {
        .caro{
          height: 384px;
        }
      }