@tailwind base;
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  /* border: 3px solid var(--primary); */
}
@tailwind components;
@tailwind utilities;





    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        /* background: inherit; */
        /* background-color: white; */
      }
      .cards {
        @apply bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg relative 
      }
      .active {
        @apply bg-[#00A651]
      }
      .tab-targets .tab.active{
        color: #2F4858;
        font-weight: 600;
        padding: 4px;
        display: block;
        background: inherit;
      }
      .tab-links{
        
        cursor: pointer;
        position: relative;
    
    }
    .tab-links::after{
      content: '';
      width:0;
      background: #00A651;
      height:4px;
      left:0;
      bottom:-8px;
      transition:5s;
      position:absolute;
    }
    .tab-links.active-class{
      @apply font-semibold
    }
    .tab-links.active-class::after{
      width:50%
    }
    .tab-contents{
      display:none;
  }
    .tab-contents.active-tab{
      display:block;
    }

    .overflowHidden {
      overflow: hidden;
      margin: 0;
      touch-action: none;
      -ms-touch-action: none;
      /* position: fixed; we get rid of this line which resets the flow of the page */
      /* height: 100%; we change 100% to 100vh */ 
      height: 100vh;
    
    }